.input-container {
  display: flex;
  gap: 10px;
}

.text-input,
.date-input {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.add-button {
  background-color: green;
  color: white;
}
.delete-button {
  background-color: red;
  color: white;
}


















.todo-row {
  display: flex;
  gap: 20px;  
  align-items: center;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}
