.add-btn {
  background-color: green;
  color: white;
  padding: 6px 12px;
  border: none;
  margin-left: 5px;
}

.complete-btn {
  background-color: green;
  color: white;
  padding: 4px 10px;
  border: none;
  margin-left: 10px;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 4px 10px;
  border: none;
  margin-left: 5px;
}

input {
  padding: 6px;
  margin-right: 5px;
}
